<div class="conatiner d-flex justify-content-center">
  <div class="row align-items-center mt-5">
    <div class="col-8"><img class="rounded" [src]="product.url" [alt]="product.name" width="200px" height="300px"></div>
    <div class="col-4">
      <h2>{{product.name}}</h2>
      <p>{{product.price}}$</p>
      <p>{{product.description}}</p>
      <select name="quantity" [(ngModel)]="quantity" style="width: 110px;">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select><br>
      <button class="btn btn-primary mt-1" (click)="addToCart(product, quantity)" style="width: 110px;">Add to cart</button>
      <a routerLink="/">Back to product list</a>
    </div>
  </div>
</div>